@charset "UTF-8";

:root {
    --fonte_padrao : Arial, Helvetica, sans-serif;
    --fonte_links  : Lato Bold, sans-serif;
}

body {
    font-family: var(fonte_padrao);
    font-size: 1em;
    height: 100vh;
    width: 100%;
}

body > header {
    height: 170px;
    padding: 30px 10px;
    background-image: linear-gradient(to bottom, rgba(143, 142, 142, 0.808), rgba(128, 0, 128, 0.945));
    text-align: center;
}

header > h1 {
    display: inline;
    font-size: 1.1em;
    margin: 0px 15px;
}

span#burger {
  font-size: 2.2em;
  cursor: pointer;
}

header > nav {
    margin-top: 25px;
}

nav#navegacao {
    display: none;
}

ul > li {
    display: inline;
    margin: 0px 20px;
}

li > a {
    color: black;
    font-size: 1.1em;
    font-family: var(--fonte_links);
    text-decoration: none;
    padding: 7px;
}

li > a:hover {
    border-radius: 15%;
    background-color: purple;
    color: white;
}

main > section {
    height: 2500px;
    padding: 20px;
}

article#principal > h2 {
    margin: 10px 0px;
    text-align: center;
}

article#principal > p {
    text-indent: 25px;
    font-size: 1.1em;
    text-align: justify;
}

div.imagem{
    text-align: center;
    margin: 30px 0px;
}

div.imagem > img {
    height: 300px;
    width: 300px;
}

body > footer {
    height: 50px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: black;
}
