@charset "UTF-8";

:root {
    --fonte_padrao : Arial, Helvetica, sans-serif;
    --fonte_links  : Lato Bold, sans-serif;
}

body {
    font-family: var(fonte_padrao);
    font-size: 1em;
    height: 100vh;
    width: 100%;
}

body > header {
    height: 125px;
    padding: 15px 10px;
    background-color: gray;
    text-align: center;
}

header > h1 {
    display: inline;
    font-size: 1.1em;
    margin: 0px 15px;
}

span#burger {
  font-size: 2.3em;
  cursor: pointer;
}

header > nav {
    margin-top: 10px;
}

nav > ul {
    margin: 0px 8px;
    display: none;
}

ul > li > a {
    color: black;
    font-size: 1.1em;
    font-family: var(--fonte_links);
    text-decoration: none;
}

main > section {
    height: 2800px;
    padding: 15px;
}

article > h2 {
    margin: 10px 0px;
}

article > p {
    text-indent: 25px;
    text-align: justify;
}

body > footer {
    height: 50px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: black;
}
