@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
    --cor0: #35be1a;
    --cor1: #1c7a09;
    --cor2: #29b90c;
    --cor3: #5d6d5a;

    --fontePadrao: Arial, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', sans-serif;
    --fonteTitulo: 'Inter', sans-serif;
    --fonteParagrafo: 'Roboto', sans-serif;
}

body {
    background-color: rgba(219, 219, 6, 0.322);
}

header {
    background-image: linear-gradient(to top, var(--cor0), var(--cor1));
    height: 160px;
    text-align: center;
    color: white;
    padding: 0px 10px;
}

header > h1 {
    font-size: 2.8em;
    font-family: var(--fonteDestaque);
    padding-top: 45px;
    font-weight: 200;
    text-shadow: 0px 3px 3px black;
}

header > p {
    font-size: 1.3em;
    font-family: var(--fonteParagrafo);
    text-align: center;
}

nav {
    background-color: var(--cor0);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    text-decoration: none;
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    padding: 0px 10px;
    color: white;
}

nav > a:hover {
    background-color: var(--cor2);
    border-radius: 8px;
    color: var(--cor1);
    transition-duration: .5s;
}

main {
    background-color: white;
    padding: 15px;
    margin: auto;
    height: 9999px;
    min-width: 290px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
}

main  h1 {
    color: var(--cor1);
    font-family: var(--fonteTitulo);
    background-image: linear-gradient(to right, var(--cor0), gray);
}

main  h2 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

main  p {
    text-align: justify;
    color: black;
    font-family: var(--fonteParagrafo);
    font-size: 18px;
    text-indent: 25px;
    margin: 12px 0px;
    line-height: 22px;
}

picture.imagem > img{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

div.video {
    background-color: green;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}