@charset "UTF-8";

:root {
	--fonte-padrao: Arial, Sans-serif;
	--fonte-destaque: "Audiowide", sans-serif;

	--cor-fundo01: lightblue;
	--cor-fundo02: #e66465;
	--cor-fundo03: #9198e5;
}

body {
	font-family: var(--fonte-padrao);
	background: linear-gradient(to right, var(--cor-fundo02), var(--cor-fundo03));
	height: 100vh;
	width: 100vw;
	/*padding: 55px;*/
}

main {
	
}

section.container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;  
	padding: 45px;
	padding: 0;
	height: 500px;
	width: 500px;
	margin: auto;
	background-color: white;
	border: 2px solid black;
}

h1 {
	font-size: 3.2em;
	font-family: var(--fonte-destaque);
	font-weight: 400;
  	font-style: normal;
	padding: 5px 10px;
	font-style: normal;
	margin-bottom: 10px;
	text-align: center;
}

p.saida {
	font-size: 1.7em;
	font-family: var(--fonte-padrao);
	display: inline-level;
}

div.itens {
	width: 80px;
	height: 80px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: red;
	margin: 25px;
	cursor: pointer;
	pointer-events: none;
}

div#selecionada {
	background-color: blue;
}

button#meuBotao {
	color: white;
	background-color: blue;
	font-size: 1.2em;
	border-radius: 10px;
	width: 190px;
	height: 80px;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 44%; 
}

#correto {
	background-color: purple;
}

section.exibicao {
	position: fixed;
	top: 20%;
	left: 70%;  
	width: 240px;
	height: 200px;
	padding: 25px;
	background-color: green;
}