@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d
    lilas: #5f2c82
*/

:root {
    /*Cores*/

    --cor01: #49a09d;
    --cor02: #5f2c82;
    --cor03: #2d6462;
    --cor04: #6cd3cf;

    /*Fontes*/
    --fontPadrao: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor02);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*Tudo que estiver fora da borda será escondido*/
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease; /*Suavizar durante a animação*/
}

section#login > div#imagem {
    background: var(--cor02) url(../imagens/metal.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor01);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: var(--cor03);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: var(--cor03);
    text-decoration: none;
    padding-top: 7px;
    margin-top: 5px;
    border: 1px solid var(--cor01);
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: var(--cor04);
}

form > a.botao > span {
    font-size: .8em;
}