@charset "UTF-8";

body {
    background: black url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    height: 588px;
    width: 435px;
    top: 50%;
    left: 50%;
    background-image: url(../imagens/celular-moto.png);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 36px;
    left: 125px;
    height: 500px;
    width: 250px;
    border-radius: 9px;
}

section#redes-socias {
    text-align: right;
}

section#redes-socias > ul{
    margin: 10px 10px 0px 0px;
}

section#redes-socias img {
    width: 50px;
    border-radius: 50%;
}
