@charset "UTF-8";

body {
    background: black url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    height: 588px;
    width: 435px;
    top: 50%;
    left: 50%;
    background-image: url(../imagens/celular-moto.png);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 36px;
    left: 125px;
    height: 500px;
    width: 250px;
    border-radius: 9px;
}

section#redes-socias {
    text-align: right;
}

section#redes-socias img {
    width: 52px;
    border-radius: 50%;
    margin: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
}

section#redes-socias img:hover {
    border: 2px solid rgba(255, 255, 255, 0.74);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transition: transform .5s, border .5s;
}

#primeiro {
    margin-top: 15px;
}