@charset "UTF 8";

@media (max-width: 660px) {
    header > h1 {
        font-size: 2.3em;
        padding-bottom: 4px;
    }
    
    header > p {
        font-size: 1.3em;
    }
}

@media (max-width: 593px) {
    header > h1 {
        font-size: 2em;
    }
    
    header > p {
        font-size: 1.1em;
        padding: 0px 5px;
    }
}

@media (max-width: 479px) {
    header > h1 {
        font-size: 1.7em;
    }
    
    header > p {
        font-size: .9em;
    }

    nav{
        padding-top: 17px;
        font-size: 1em;
    }

    nav > a {
        font-size: 1em;
    }

    main {
        height: 6000px;
    }

    main h1 {
        margin-top: 10px;
    }

    div.video {
        margin: auto;
        width: 87%;
        height: 87%;
    }

    picture.imagem > img {
        height: 80%;
        width: 80%;
    }
}

@media (max-width: 360px) {
    main {
        height: 6600px;
    }
}