@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: "Asul", serif;
    --fonte_texto: "Inconsolata", monospace;

    --corfundo: white;
    --cortitulo: black;
    --cortexto: white;
    --corbotaofixa: white;
    --corbotaoalternar: blue;
    --corbotaoalternartexto: white;
}


body {
    background-color: var(--corfundo);
    background-image: url(../imagem/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fonte-padrao);
    overflow: hidden;
}

main {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.carta {
    display: none;
    height: 95vh;
}

.selecionada {
    display: block;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 60px;
    padding: 10px;
    text-decoration: underline;
    color: var(--cortitulo);
}

.contexto {
    margin: auto;
    height: 500px;
    width: 500px;
}

.imagem {
    padding: 15px;
}

.texto {
    text-align: justify;
    padding: 6px 5px 0 5px;
    text-indent: 45px;
    height: 100px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: var(--fonte_texto); 
    color: var(--cortexto);
}

.botoes {
    position: absolute;
    display: flex;
    top: 90vh;
    left: 41.5vw;
    width: 250px;
    z-index: 10;
    justify-content: space-between;
}

.botao {
    margin: 10px;
    padding: 15px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--corbotaofixa);
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--corbotaoalternar);
    color: var(--corbotaoalternartexto);
    font-weight: bolder;
}

.botao:not(:hover) {
  transition-delay: 0.1s;
}