@charset "UTF-8";

@font-face {
    font-family: "MatrixBook";
    src: url(fonts/Yu-Gi-Oh!\ Matrix\ Book.ttf) format('.ttf');
    font-size: 1em;
}

@font-face {
    font-family: "StoneSerif";
    src: url(fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf) format('.ttf');
    src: url(fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf) format('.ttf');
    font-size: 1em;
}

:root {

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: "MatrixBook";
    --fonte_texto: "StoneSerif";

    --corfundo: white;
    --cortitulo: black;
    --cortexto: rgb(78, 3, 78);
    --corbotaofixa: white;
    --corbotaoalternar: blue;
    --corbotaoalternartexto: white;
}


body.TelaPrincipal {
    overflow: hidden;
    font-family: var(--fonte-padrao);
    background-color: var(--corfundo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body#login {
    background-image: url(../imagem/fundoApresentacaoPequeno.png);
}

body#cards{
    background-image: url(../imagem/fundoCartas.jpg);
}

main {
    text-align: center;
    position: relative;
}

header.cabecalho {
    height: 80px;
    padding: 15px 0;
    margin-bottom: 50px;
}

section.carta {
    display: none;
    height: 95vh;
}

section.selecionada {
    display: block;
}

h1.tituloPrincipal {
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
    text-decoration: underline;
    font-family: var(--fonte-titulo);
    margin-top: 10px;
    font-size: 2.5em;
    color: gold;
}

section.contexto {
    margin: auto;
    height: 210px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.873);
    border: 5px solid rgba(0, 0, 0, 0.734);
    border-radius: 5px;
}

section.exibicao {
    padding: 25px;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.873);
    border: 5px solid rgba(0, 0, 0, 0.877);
    border-radius: 5px;
}

img.imagemDeck {
    margin: auto;
    cursor: pointer;
}

.imagemCarta {
    padding: 15px;
}

p.textoApresentacao {
    text-align: justify;
    margin-bottom: 30px;
    font-family: "StoneSerif";
    font-size: 1.1em;
    color: var(--cortexto);
}

p.textoCarta {
    text-align: justify;
    padding: 6px 5px 0 5px;
    text-indent: 45px;
    font-size: 1.1em;
    color: var(--cortexto);
    font-family: var(--fonte_texto); 
}

section.botoes {
    position: absolute;
    display: flex;
    top: 90vh;
    left: 41.5vw;
    width: 250px;
    z-index: 10;
    justify-content: space-between;
}

button.botao {
    margin: 10px;
    padding: 15px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--corbotaofixa);
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--corbotaoalternar);
    color: var(--corbotaoalternartexto);
    font-weight: bolder;
}

.botao:not(:hover) {
  transition-delay: 0.1s;
}