@charset "UTF-8";

:root {
	--fonte-padrao: Arial, Sans-serif;
	--fonte-destaque: "Audiowide", sans-serif;
	--fonte-botao: "Bona Nova SC", serif;

	--cor01: #9EF8EE;
	--cor02: #FA7F08;
	--cor03: #F24405;
	--cor05: #348888; /*Fundo*/
	--cor04: #22BABB; /*Fundo */
}

body {
	font-family: var(--fonte-padrao);
	background: linear-gradient(to right, var(--cor05), var(--cor04));
	height: 100vh;
	width: 100vw;
	/*background: url(../imagens/mamaco.png) no-repeat top center;*/
}

main {
	//display: none;
}

section.container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;  
	padding: 45px;
	padding: 0;
	height: 500px;
	width: 500px;
	margin: auto;
	background-color: white;
	border: 5px solid black;
}

h1 {
	font-size: 3.2em;
	font-family: var(--fonte-destaque);
	font-weight: 400;
  	font-style: normal;
	padding: 5px 10px;
	font-style: normal;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: underline;
}

p.saida {
	font-size: 1.7em;
	font-family: var(--fonte-padrao);
	display: inline-level;
}

div.itens {
	width: 80px;
	height: 80px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: red;
	margin: 25px;
	cursor: pointer;
	pointer-events: none;
}

div#selecionada {
	background-color: blue;
}

button#btnIniciar {
	color: white;
	background-color: blue;
	font-size: 1.2em;
	border-radius: 10px;
	width: 190px;
	height: 80px;
	margin: auto;
}

#correto {
	background-color: purple;
}

section.exibicao {
	position: fixed;
	top: 12%;
	left: 67%;  
	width: 420px;
	height: 480px;
	padding: 25px;
	background-color: var(--cor01);
	border-radius: 10px;
	box-shadow: 8px 8px 0;
}

button.btndificuldade {
	font-family: var(--fonte-botao);
	font-weight: bold;
	font-size: 1.2em;
	display: box-level;
	width: 100px;
	height: 80px;
	border-radius: 5px;
	background-color: var(--cor02);
	margin: 15px 5px;
}

.btndificuldade-pressionado {
  background-color: #555;
  color: white;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateY(2px);
}